@import "reset";
@import "mixins";

:root {
    --white-color: #FDFDFD;
    --brand-color: #284363;
    --golden-color: #E6B760;
    --main-padding: 50px 20px;
}

.container {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--brand-color);
    height: 50px;
    align-items: center;
    color: var(--white-color);
    padding: 0px 20px;
}
 
nav a {
    color: var(--white-color)
}

.heroblock {
    display: flex;
    background-color: var(--white-color);
}

.heroblock__image {
    background: url(../images/classroom.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 70%;
}
.trainer-information {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}


.avatar img {
    width: 128px;
    border-radius: 50%;
    height: 128px;
}


.team-section {
    padding: var(--main-padding);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.cards-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--main-padding);
    flex-flow: row wrap;
}

.card {
    width: 100%;
    padding: var(--main-padding);
    border: 1px solid var(--brand-color);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-radius: 5px;

    @include isTablet {
        width: 40%;
    }
    @include isDesktop {
        width: 30%;
    }
}


.link-to-page {
    margin: 50px 0 0;
    a {
        color: var(--brand-color);
        &:hover {
            color: var(--golden-color)
        }
    }
}

.about {
    p {
        padding: 5px 0;
        text-align: center;
    }
}