* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #FDFDFD;
    --brand-color: #284363;
    --golden-color: #E6B760;

    --main-padding: 50px 20px;
}

.container {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--brand-color);
    height: 50px;
    align-items: center;
    color: var(--white-color);
    padding: 0px 20px;
}
 
nav a {
    color: var(--white-color)
}

.heroblock {
    display: flex;
    background-color: var(--white-color);
}

.heroblock__image {
    background: url(./images/classroom.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 70%;
}
.trainer-information {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}


.avatar img {
    width: 128px;
    border-radius: 50%;
}


.team-section {
    padding: var(--main-padding);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.cards-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--main-padding);
    flex-flow: row wrap;
}

.card {
    width: 30%;
    padding: var(--main-padding);
    border: 1px solid var(--brand-color);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-radius: 5px;
}

.link-to-page {
    margin: 50px 0 0
}
.link-to-page a {
    color: var(--brand-color);
}
.link-to-page a:hover {
    color: var(--golden-color)
}

.about p {
    padding: 5px 0;
    text-align: center;
}