*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #FDFDFD;
    --brand-color: #21243E;
    --green-color: #454D4F;
}


.container {
    width: 100%;
}

header {
    display: flex;
    justify-content: left ;
    background-color: var(--brand-color);
    color: var(--white-color);
    height: 60px;
    padding: 20px;
}
.heroblock {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    height: 300px;}

.avatar {
    display: flex;
    margin: 0;
}

.avatar img {
    width: 200px;
    border-radius: 50%;
}


.city {
    background-position: center center;
    width: 100%;
    background-repeat: repeat-x;
    height: 130px;
}
.city img {
    background-position: center center;
    width: 100%;
    background-repeat: repeat-x;
    height: 350%;
   
}main {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-flow: column wrap;
    height: 230px;
    background-color: var(--green-color);
    font-family: 'Concert One', Lucida Sans Unicode;
    font-size: larger;
}